.list,.desc{
    margin: auto ;
    width: 700px;
}
.pic{
    border: 10px solid black;
    margin: auto;
}
.list{
    background-color: rgb(221, 236, 233);
    padding: 20px;
    border: 5px solid rgb(108, 241, 108);
    box-sizing: border-box;
}
div,.head{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.desc{
    height: 70px;
}
.link{
    margin-left: 595px;
    font-size:20px;
    width: 40;
}
